/*
* { margin: 0; padding: 0; }

.titulo {
  font-family: Calibri;
  float: left;
  text-align: left;
  background: #ffe5d1;
  height: 589px;
  width: 366px;
  padding-top: 20px;
}

.formulario{
	font-family: Ink Free;
	font-weight: bold;
}

input[type=text]{
	outline: none;
	border: 1px;
    border-radius: 2px;
    padding: 6.1px 48.8px;
    padding-left: 40px;
}

input[type=text]:focus {
	outline: none;
    border: 1px solid orange;
}

input[type=password]{
	outline: none;
	border: 1px;
    border-radius: 2px;
    padding: 6.1px 48.8px;
    padding-left: 40px;
}

input[type=password]:focus {
	outline: none;
    border: 1px solid orange;
}

.formulario{
	padding-left: 61px;
}

input[type=button]{
	font-family: Ink Free;
	font-weight: bold;
	font-size: 18.3px;
	height: 30.5px;
	width: 73.2px;
	background: white;
	border-color: white;

}

input[type=button]:focus {
	outline: none;
    border: 1px solid orange;
}

a:link, a:visited {
  color: black;
  padding-left: 61px;
  text-decoration: none;
}

.slider {
     display: block;
     height: 609px;
     width: 897px;
     margin: auto;
     position: relative;
     float: left;
     background: red;
}

.slider li {
    list-style: none;
    position: absolute;
}

.slider img {
    margin: auto;
    height: 100%;
    width: 100%;
    vertical-align: top;

}

.slider input {
    display: none;
}

.slider label {
    background-color: #000;
    bottom: 10px;
    cursor: pointer;
    display: block;
    height: 10px;
    position: absolute;
    width: 10px;
    z-index: 10;
}

.slider li:nth-child(1) label {
    left: 10px;
}

.slider li:nth-child(2) label {
    left: 40px;
}

.slider li:nth-child(3) label {
    left: 70px;
}

.slider img {
    opacity: 0;
    visibility: hidden;
}

.slider li input:checked ~ img {
    opacity: 1;
    visibility: visible;
    z-index: 10;
}
*/

/*.login{
	background-image: url(imgLogin.png);
}

.label{
	background-color: white;
	height: 200px;
	width: 350px;
}*/


.formulario {
  background-image: url(imgLogin.png);
  font-family: Calibri;
  text-align: left;
  height: 589px;
  width: 1263px;
  
}